<mat-toolbar color="primary" class="flexSpaceBetween">

  <mat-icon class="example-icon">
    <mat-icon>menu</mat-icon>
  </mat-icon>
  <div  style="width: 40%; margin-left: 15px;"> <button mat-stroked-button *ngIf="voltar" style="border: solid 1px white; border-radius: 10px; 
     top: 02px; " routerLink="/alteracaoimpostos">Voltar</button>
  </div>
  
  <span class="example-spacer h4 " style="width: 40%;">{{titulo}}</span>

  <div style="width: 40%; text-align: end;">
    <div class="row">
      <div class="col-lg-4 col-xxl-7"></div>

      <div class="col-lg-2 col-xxl-1">
        <img src="assets/img/semfoto.png" class="rounded-circle ">
      </div>

      <div class="col-lg-4 col-xxl-3">
        <span class="telaLogin"> Sanderson de Jesus Ribeiro
          <br>
          7Virtual Sistemas e tecnologias</span>
      </div>

      <div class="col-lg-2 col-xxl-1 my-auto">
        <img src="assets/img/retanguloSeta.png" >
      </div>
    </div>
  </div>

</mat-toolbar>